body {
  margin: 0;
  padding: 0px;
}
.bg-color {
  background-color: #2d25a0;
  height: 677px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a {
  text-decoration: none;
  margin-left: 36px;
  padding: 10px;
  color: #ffffff;
}
.login {
  margin-right: 40px;
}

.login,
button {
  border: none;
  background-color: #e02c6d;
  color: #ffffff;
  padding: 5px 15px;
  font-size: 16px;
}
.copa {
  font-size: 64px;
  color: white;
}
.copa p {
  margin-left: 80px;
}
.color {
  border: none;
  background: red;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}
.banar img {
  width: 556px;
  height: 438px;
}
.conmebol {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.button-2 {
  margin-left: 80px;
  padding: 10px;
}
.al-players {
  width: 1050px;
  margin-left: 235px;
  margin-top: 85px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  width: 300px;
  height: 426px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 15px;
}
.player img {
  width: 300px;
  height: 256px;
}
.copa-america {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.copa-detail {
  width: 469px;
  height: 309px;
  margin-left: 85px;
}
.copa-detail h1 {
  font-size: 48px;
}
.copa-detail p {
  font-size: 16px;
}
.copa-payers img {
  width: 567px;
  height: 427px;
}
.button3 {
  padding: 10px;
  border: none;
  background-color: #e02c6d;
  color: #ffffff;
  padding: 5px 15px;
  font-size: 16px;
}
.foodball img {
  width: 483.87px;
  height: 110px;
}
.logo img {
  width: 32px;
  height: 32px;
}
.foodteam {
  display: flex;
  flex-direction: column;
  align-items: center;
}
